{% extends 'base.html' %}

{% block title %} {{block.super }} - New task  {% endblock title %}

{% block content %}

    <div class="container">
        <h1 class="text-center">Add a new task</h1>
        <form method="POST"  class="jumbotron">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="btns-group">
                <input type="submit" class="btn btn-success" value="Add task" name="add_task">
            </div>
        </form>
    </div>
    
{% endblock %}