{% extends 'base.html' %}
{% load static %}

{% block title %} {{block.super }} -  Tasks {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'task/table.css' %}">
{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="text-center">Liste des taches</h1>
        
        <table id="customers">
            <thead>
                <tr>
                    <th scope="col">task title</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr {% if task.completed %}style="background-color: #cecece" {% endif %}>
                        <td>{{ task.title }}</td>
                        <td>{{ task.deadline | date:'d-m-Y H:i' }}</td>
                        <td>{{ task.completed }}</td>
                        <td class="options">
                            <a href="{% url 'task_view' task.pk %}"><i class="far fa-eye"></i></a>
                            <a href="{% url 'task_edit' task.pk %}"><i class="far fa-edit"></i></a>
                            <a href="{% url 'task_delete' task.pk %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="btns-group">
                <a class="btn btn-success right" href="{% url 'task_add' %}">Add new task</a>
        </div>
        
        
    </div>

{% endblock %}