{% extends 'base.html' %}

{% block title %} {{block.super }} -  Task {{task.id}} {% endblock title %}

{% block content %}

    <div class="container">
        <h1 class="text-center">{{ task.title }}</h1>
        <p class="jumbotron">
            {{ task.comment }}
        </p>
        <div class="btns-group">
            <a class="btn btn-primary" href="{% url 'task_complete' task.id %}">Complete</a>
            <a class="btn btn-warning" href="{% url 'task_edit' task.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'task_delete' task.id %}">Delete</a>
        </div>
    </div>

{% endblock %}