<nav id="navbar-example2" class="navbar navbar-primary bg-dark">
    {% if request.get_full_path == "/" %}
        <a class="navbar-brand" href="{% url 'task_all' %}">Todolist</a>
    {% else %}
        <a href="{% url 'home' %}">Homepage</a>
    {% endif %}
    <ul class="nav nav-pills">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'task_add' %}">Add new task</a>
        </li>
    </ul>
</nav>