{% extends 'base.html' %}

{% block title %} {{block.super }} -  Homepage {% endblock title %}

{% block content %}

    <div class="container">
        <h1 class="text-center">Welcome to my Homepage</h1>
        <p class="jumbotron">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quaerat rem suscipit, laborum alias cum eveniet neque, doloremque aspernatur at animi iste? Iusto perferendis nulla, dolor neque eaque quis saepe?
        </p>
    </div>

{% endblock %}